@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "DM Sans", sans-serif;
}

#global {
  width: 100%;
  background: #171717;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-areas:
    ". header ."
    ". intro."
    ". about ."
    ". projects ."
    ". services ."
    ". skills .";
}
#header {
  max-width: 100%;
  display: flex;
  grid-area: header;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
#header h1 {
  color: #f9f9f9;
  cursor: pointer;
}
.header-menu {
  display: flex;
  gap: 40px;
}
.header-menu li {
  color: #828282;
  transition: 0.3s ease all;
  cursor: pointer;
  padding: 10px;
}
.header-menu li:hover {
  color: #f9f9f9;
}
#intro {
  grid-area: intro;
  display: flex;
  justify-content: space-between;
  padding: 80px 0 20px 0;
}
.intro-apresentation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.intro-apresentation h1 {
  color: #f9f9f9;
  font-size: 3em;
  width: 350px;
}
.intro-apresentation p {
  color: #828282;
  font-size: 1.3em;
}
.intro-buttons {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.intro-buttons .download {
  color: #171717;
  padding: 10px 20px;
  background: #00df5e;
  transition: 0.3s ease all;
}
.intro-buttons .download:hover {
  background: #1df577;
}
.intro-buttons .contact {
  padding: 10px 20px;
  border: 2px solid #333;
  color: #fff;
  transition: 0.3s ease all;
}
.intro-buttons .contact:hover {
  border-color: #00df5e;
  color: #00df5e;
}
#intro .illustration {
  width: 100%;
  max-width: 400px;
}
#about {
  grid-area: about;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.about-content h1 {
  color: #f9f9f9;
  font-size: 2.3em;
}
.about-content p {
  font-size: 1.1em;
  color: #828282;
  max-width: 600px;
  text-align: center;
}

.about-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 100px;
  gap: 10px;
}
.icons-container {
  width: 65px;
  height: 65px;
  background: #212121;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.about-icons-icon h1 {
  color: #f9f9f9;
}
.about-icons-icon p {
  color: #00df5e;
}
.about-icons-icon svg {
  width: 40px;
}
#iconesAbout {
  stroke: #00df5e;
  fill: #00df5e;
  width: 20px;
}

#projects {
  grid-area: projects;
  text-align: center;
  padding-top: 100px;
}
.projects-title {
  font-size: 2.3em;
  color: #f9f9f9;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}
.project {
  background: #333333;
  width: 100%;
  max-width: 350px;
  padding: 15px;
  text-align: initial;
}
.project-photo {
  width: 100%;
  background: #171717;
  height: 200px;
}
.project h1 {
  margin-top: 15px;
  color: #f9f9f9;
}
.project p {
  color: #828282;
}
#services {
  grid-area: services;
}
#skills {
  grid-area: skills;
}
